.form-search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 1.5rem;
  padding: 0.7rem 1rem;
  gap: 0.4rem;
  margin-bottom: 1.5rem;
}

.search-btn {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.6rem;
  border-radius: 1rem;
  color: var(--dm-white);
  background-color: var(--light-blue);
  border: none;
  font-family: "Space Mono", monospace;
  cursor: pointer;
  transition: 0.3s;
}

.search-btn:hover {
  background-color: #4d9efc;
}

.button-div {
  position: relative;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-115%, 85%);
  font-weight: 700;
  font-size: 1.3rem;
  color: #f74646;
}

@media (min-width: 48em) {
  .form-search {
    justify-content: space-between;
    gap: 0;
    margin-bottom: 3rem;
  }

  .search-btn {
    font-size: 1.6rem;
    padding: 1.5rem 2.5rem;
  }
}

@media (min-width: 75em) {
  .error {
    font-size: 1.5rem;
  }
}
