.display-cont {
  border-radius: 1.5rem;
  padding: 2rem;
}

.display-primary-cont {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.display-primary {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.display-primary h3 {
  font-size: 1.6rem;
}

.image {
  width: 25%;
  border-radius: 50%;
}

.username {
  font-size: 1.3rem;
  color: var(--light-blue);
}

.date {
  font-size: 1.3rem;
}
